{% extends "@AdobeEchoSignGoogle/base.html.twig" %}

{% block title %}eSign the document{% endblock %}
{% block meta %}
<meta http-equiv="X-UA-Compatible" content="IE=7">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
<![endif]-->
{% endblock meta %}

{% block content %}
{{ app.session.flashBag.get('js')[0] | raw }}
<div id="windowCloser">
  <input type="submit" id="closeWindow" {#class="blue"#} value="Close" onclick="top.window.close();">
</div>
<script>
    window.onload = function() {
        $('iframe').attr('id', 'sign');
    };
</script>
{% endblock content %}
