{% set assets = "/assets/box" %}
{# useful if you'd want to fall IE down to quirks mode #}
{% block doctype %}<!DOCTYPE html>{% endblock %}
<html lang="en">
  <head>
    {% block head %}
    {% block meta %}{# useful if you'd want to fall IE down to any specific mode #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% endblock %}
    <!-- =============== Basic Page Needs =============== -->
    <title>{% block title %}{% endblock %} | Adobe EchoSign</title>
    <meta charset="utf-8">
    
    <!-- ================== Stylesheets ================= -->
    <link rel="stylesheet" href="{{ assets }}/style/base.css" media="all">
    <link rel="stylesheet" href="{{ assets }}/style/screen.css" media="all">
    <link rel="stylesheet" href="{{ assets }}/style/add.css" media="all">
    <link rel="stylesheet" href="{{ assets }}/dist/themes/default/style.min.css" />
    <script type="text/javascript" src="{{ assets }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{ assets }}/js/main.js"></script>
    <script src="{{ assets }}/dist/jstree.min.js"></script>
    {% endblock head %}
  </head>

  <body>
    <div class="page-wrap">
      <!-- ========== Page Header ========== -->
      <div class="page-header">
        <header class="inner">
          <!-- Logo -->
          <div class="logo">
            <a href="#">
              <h1>Adobe Echosign</h1>
            </a>
          </div>
          
          <!-- Primary navigation-->
          <nav class="nav-primary">
            <ul>
            </ul>
          </nav>
          
          <!-- Account controls -->
          <div class="account">
            <ul>
              {% if app.session.get('echosign_email') %}
              <li class="first">{{ app.session.get('echosign_email') }}</li>
              {# <li><a href="/box/logout/" class="access">Sign out</a></li> #}
              {% endif %}
              <li><a href="https://www.echosign.adobe.com/en/support.html" target="_blank">Get Help</a></li>
            </ul>
          </div>
        </header>
      </div>

        {% set errorBag = app.session.flashBag.get('error') %}
        {% set successBag = app.session.flashBag.get('success') %}
        {% for error in errorBag %}
            <div id="flash-error"><div>{{ error }}</div></div>
        {% endfor %}
        {% for success in successBag %}
            <div id="flash-success"><div>{{ success }}</div></div>
        {% endfor %}

      {% block content_raw %}
      <!-- ========== Page Container ========== -->
      <div class="page-container">
        <div class="inner cf">

          {% block content %}{% endblock %}
          
        </div>
      </div>
      {% endblock content_raw %}
    </div>
    
    
    <!-- ========== Page Footer ========== -->
    <div class="page-footer">
      <div class="inner">
        &copy; 2014 Adobe Echosign
      </div>
    </div>
    <script>
        $(document).ready(function() {
            window.resizeTo(925, 890);
            var wleft = (screen.width - 890) / 2;
            var wtop = (screen.height - 925) / 2;
            window.moveTo(wleft, wtop);
        });
    </script>
  </body>
</html>