@charset "UTF-8";
/* ==========================================================================
   Base Stylesheet For Fundamental Elements On All Pages
   ========================================================================== */

/* CSS Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {	content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }


/* Basic Styles
   ========================================================================== */
body {
	font: 12px/18px 'Arial','Helvetica',sans-serif;
	color: #000;
}


/* Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: 'Arial','Helvetica',sans-serif;
	font-weight: normal;
	padding-bottom: 0.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { font-size: 40px; line-height: 46px; }
h2 { font-size: 36px; line-height: 40px; }
h3 { font-size: 22px; line-height: 26px; }
h4 { font-size: 18px; line-height: 30px; }
h5 { font-size: 16px; line-height: 24px; }
h6 { font-size: 13px; line-height: 21px; }

p { padding-bottom: 15px; }
p img { margin: 0; }

em, i, .italic { font-style: italic; }
b, strong, .strong { font-weight: bold; }

article { margin-bottom: 35px; }


/* Blockquotes
   ========================================================================== */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* Links
   ========================================================================== */
a { color: #1a74ba; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #000; }


/* Lists
   ========================================================================== */
ul, ol {
    margin: 0 0 0 25px;
    padding: 0 0 1em 0;
}

ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }

ul.unstyled, ol.unstyled {
	list-style: none outside none;
    margin-left: 0;
}


/* Forms
   ========================================================================== */
label {
	display: block;
	vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	font: 1em/1em 'Arial','Helvetica',sans-serif;
	border: 1px solid #ccc;
	background-color: #fff;
	display: block;
	height: 25px;
	outline: 0 none;
	padding: 0.3em 0.57143em;
	-webkit-border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

select { padding: 0.3em; }
textarea { min-height: 100px; }

input[type="radio"],
input[type="checkbox"] {
	margin: 0;
	vertical-align: middle;
}

input[type="radio"].left,
input[type="checkbox"].left {
	margin-right: 5px;
	margin-bottom: 5px;
}

input[type="radio"].right,
input[type="checkbox"].rigth {
	margin-left: 5px;
}

input[type="submit"] {
	font: bold 16px/22px 'Arial','Helvetica',sans-serif;
	border: 1px solid #64a01d;
	cursor: pointer;
	color: #fff;
	margin: 5px 0;
	outline: 0 none;
	padding: 7px 35px;
	text-shadow: 1px -1px rgba(0,0,0,0.3);
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: #9dde4f;
	background: -moz-linear-gradient(top, #9dde4f 0%, #6ba921 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dde4f), color-stop(100%,#6ba921));
	background: -webkit-linear-gradient(top, #9dde4f 0%,#6ba921 100%);
	background: -o-linear-gradient(top, #9dde4f 0%,#6ba921 100%);
	background: -ms-linear-gradient(top, #9dde4f 0%,#6ba921 100%);
	background: linear-gradient(to bottom, #9dde4f 0%,#6ba921 100%);
	-webkit-box-shadow: 
		0 1px 0 rgba(255, 255, 255, 0.4) inset, 
		0 3px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 
		0 1px 0 rgba(255, 255, 255, 0.4) inset, 
		0 3px 3px rgba(0,0,0,0.25);
	box-shadow: 
		0 1px 0 rgba(255, 255, 255, 0.4) inset, 
		0 3px 3px rgba(0,0,0,0.25);
}

input[type="submit"]:hover {
	background: #ade55d;
	background: -moz-linear-gradient(top, #ade55d 0%, #7cb929 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ade55d), color-stop(100%,#7cb929));
	background: -webkit-linear-gradient(top, #ade55d 0%,#7cb929 100%);
	background: -o-linear-gradient(top, #ade55d 0%,#7cb929 100%);
	background: -ms-linear-gradient(top, #ade55d 0%,#7cb929 100%);
	background: linear-gradient(to bottom, #ade55d 0%,#7cb929 100%);
}

input[type="submit"]:active {
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3) inset;
}

input[type="submit"].blue {
	border: 1px solid #66a5d6;
	background: #83c1ed;
	background: -moz-linear-gradient(top, #83c1ed 0%, #3185c8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83c1ed), color-stop(100%,#3185c8));
	background: -webkit-linear-gradient(top, #83c1ed 0%,#3185c8 100%);
	background: -o-linear-gradient(top, #83c1ed 0%,#3185c8 100%);
	background: -ms-linear-gradient(top, #83c1ed 0%,#3185c8 100%);
	background: linear-gradient(to bottom, #83c1ed 0%,#3185c8 100%);
}

input[type="submit"].blue:hover {
	background: #95cef2;
	background: -moz-linear-gradient(top, #95cef2 0%, #3994d2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95cef2), color-stop(100%,#3994d2));
	background: -webkit-linear-gradient(top, #95cef2 0%,#3994d2 100%);
	background: -o-linear-gradient(top, #95cef2 0%,#3994d2 100%);
	background: -ms-linear-gradient(top, #95cef2 0%,#3994d2 100%);
	background: linear-gradient(to bottom, #95cef2 0%,#3994d2 100%);
}

ol.fields {
	list-style: none outside none;
	margin: 0;
}

ol.fields li {
	margin-bottom: 0.625em;
}

ol.fields li.last {
	margin-top: 2em;
	margin-bottom: 0;
}

.label-wrap {
	float: left;
	width: 110px;
}

.field-wrap {
	margin-left: 116px;
	overflow: hidden;
}

.field-wrap .left + .left {
	margin-left: 5px;
}