{% block drive_folder_widget %}
    {% spaceless %}
        <style>
            #jstree ul li {
                display: block;
                padding: 0;
                margin-top: -4px;
                color: black
            }
        </style>
        <div id="jstree"></div>
        {{ block('hidden_widget') }}
        <script>
            var id = '#' + '{{ form.vars.id }}';
            var input = $(id);
            var folders = {{ folders|raw }};
            document.ready = function() {
                $('#jstree').jstree({
                'core' : {
                    "multiple" : false,
                    "themes" : { "stripes" : false },
                    'data' : folders
                },
                "plugins" : [ "wholerow" ]
                });
                $('#jstree').on("changed.jstree", function (e, data) {
                    input.val(data.selected[0]);
                });
            };
        </script>
    {% endspaceless %}
{% endblock %}